{{extend 'layout.html'}}

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-eye"></i> {{=T('Test')}}</b></h5>
  </header>

	<div id="tempgraph_div" style="width: auto; height: auto;"></div>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		var temperature = {{=XML(temp_data)}};
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawTempChart);
  google.charts.setOnLoadCallback(drawHumChart);
  google.charts.setOnLoadCallback(drawPhChart);

  function drawTempChart() {
	var len = temperature.length;
	var data = new google.visualization.DataTable()
	data.addColumn('string','TIME');
	data.addColumn('number','TEMP');
	data.addRows(len);
	for (var i=0; i<len;i++) {
		data.setValue(i,0,temperature[i].created_at);
		data.setValue(i,1,temperature[i].value);
	};

	var options = {
	  title: "{{=T('Temperature')}}",
	  curveType: 'function',
	  legend: 'none'
	};

	var chart = new google.visualization.LineChart(document.getElementById('tempgraph_div'));

	chart.draw(data, options);
  }

  function drawHumChart() {
	var len = humidity.length;
	var data = new google.visualization.DataTable()
	data.addColumn('string','TIME');
	data.addColumn('number','HUM');
	data.addRows(len);
	for (var i=0; i<len;i++) {
		data.setValue(i,0,humidity[i].created_at);
		data.setValue(i,1,humidity[i].value);
	};

	var options = {
	  title: "{{=T('Humidity')}}",
	  curveType: 'function',
	  legend: 'none'
	};

	var chart = new google.visualization.LineChart(document.getElementById('humgraph_div'));

	chart.draw(data, options);
  }
  
  function drawPhChart() {
	var len = ph.length;
	var data = new google.visualization.DataTable()
	data.addColumn('string','TIME');
	data.addColumn('number','HUM');
	data.addRows(len);
	for (var i=0; i<len;i++) {
		data.setValue(i,0,ph[i].created_at);
		data.setValue(i,1,ph[i].value);
	};

	var options = {
	  title: "{{=T('pH')}}",
	  curveType: 'function',
	  legend: 'none'
	};

	var chart = new google.visualization.LineChart(document.getElementById('phgraph_div'));

	chart.draw(data, options);
  }
</script>