{{extend 'layout.html'}}

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-question-circle"></i> {{=T('Help')}}</b></h5>
  </header>
  <div class="w3-container">
    <ul class="w3-ul w3-card-4 w3-white w3-hoverable">
		<li class="w3-padding-16">
			<h5><a  href="http://fr.wikihow.com/faire-pousser-des-tomates-hydroponiques">Wiki-How</h5>
		</li>
	</ul>
  </div>
  <hr>
  
  
