{{extend 'layout.html'}}

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-eye"></i> {{=T('Monitoring')}}</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-third">
      <div class="w3-container w3-green w3-padding-16">
        <div class="w3-left"><i class="fa fa-thermometer-full w3-xxxlarge"></i></div>
		<div class="w3-right">
        <h4>{{=T('Temperature')}}</h4>
        </div>
        <div class="w3-clear"></div>
		<div id="tempgraph_div" style="width: auto; height: auto;"></div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-container w3-orange w3-padding-16">
        <div class="w3-left"><i class="fa fa-dashboard w3-xxxlarge"></i></div>
        <div class="w3-right">
        <h4>{{=T('Humidity')}}</h4>
        </div>
        <div class="w3-clear"></div>
		<div id="humgraph_div" style="width: auto; height: auto;"></div>
      </div>
    </div>
	<div class="w3-third">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-tint w3-xxxlarge"></i></div>
        <div class="w3-right">
        <h4>{{=T('pH')}}</h4>
        </div>
        <div class="w3-clear"></div>
		<div id="phgraph_div" style="width: auto; height: auto;"></div>
      </div>
    </div>
  </div>
  <div class="w3-container w3-dark-grey w3-padding-32">
	<div class="w3-row">
		<div class="w3-container w3-half">
			<h4 class="w3-bottombar w3-border-black">  {{=T('Controls')}}</h4>
			<p>{{=T('Automatic')}}  <i class="fa fa-toggle-off"></i>  {{=T('Manual')}}</p>
		</div>
	</div>
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red"><i class="fa fa-thermometer-full"></i>  {{=T('Temperature')}} & {{=T('Humidity')}} {{=T('Controls')}}</h5>
        <p><i class="fa fa-toggle-on"></i>  {{=T('Fans')}}</p>
        <p><i class="fa fa-toggle-off"></i>  {{=T('Heating')}}</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange"><i class="fa fa-lightbulb-o"></i>  {{=T('Luminosity')}}</h5>
        <p><i class="fa fa-toggle-on"></i>  {{=T('Lamp')}}</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-blue"><i class="fa fa-tint"></i>  {{=T('Water')}}</h5>
        <p><i class="fa fa-toggle-on"></i>  {{=T('Tank pump')}}</p>
        <p><i class="fa fa-toggle-off"></i>  {{=T('pH pump')}}</p>
      </div>
    </div>
  </div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawTempChart);
  google.charts.setOnLoadCallback(drawHumChart);
  google.charts.setOnLoadCallback(drawPhChart);

  function drawTempChart() {
	var data = google.visualization.arrayToDataTable([
	  ['TIME', 'TEMP'],
	  ['00:00',  22],
	  ['01:00',  21],
	  ['02:00',  21],
	  ['03:00',  22],
	  ['04:00',  22],
	  ['05:00',  22],
	  ['06:00',  21],
	  ['07:00',  21],
	  ['08:00',  22],
	  ['09:00',  22],
	  ['10:00',  21],
	  ['11:00',  21],
	  ['12:00',  22],
	]);

	var options = {
	  title: "{{=T('Temperature')}}",
	  curveType: 'function',
	  legend: 'none'
	};

	var chart = new google.visualization.LineChart(document.getElementById('tempgraph_div'));

	chart.draw(data, options);
  }

  function drawHumChart() {
	var data = google.visualization.arrayToDataTable([
	  ['TIME', 'HUM'],
	  ['00:00',  33],
	  ['01:00',  34],
	  ['02:00',  34],
	  ['03:00',  35],
	  ['04:00',  36],
	  ['05:00',  37],
	  ['06:00',  37],
	  ['07:00',  37],
	  ['08:00',  39],
	  ['09:00',  40],
	  ['10:00',  41],
	  ['11:00',  44],
	  ['12:00',  44],
	]);

	var options = {
	  title: "{{=T('Humidity')}}",
	  curveType: 'function',
	  legend: 'none'
	};

	var chart = new google.visualization.LineChart(document.getElementById('humgraph_div'));

	chart.draw(data, options);
  }
  
  function drawPhChart() {
	var data = google.visualization.arrayToDataTable([
	  ['TIME', 'PH'],
	  ['00:00',  6.2],
	  ['01:00',  6.3],
	  ['02:00',  6.3],
	  ['03:00',  6.3],
	  ['04:00',  6.3],
	  ['05:00',  6.4],
	  ['06:00',  6.3],
	  ['07:00',  6.2],
	  ['08:00',  6.1],
	  ['09:00',  6.1],
	  ['10:00',  6.0],
	  ['11:00',  6.1],
	  ['12:00',  6.1],
	]);

	var options = {
	  title: "{{=T('pH')}}",
	  curveType: 'function',
	  legend: 'none'
	};

	var chart = new google.visualization.LineChart(document.getElementById('phgraph_div'));

	chart.draw(data, options);
  }
</script>

