{{extend 'layout.html'}}

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-eye"></i> {{=T('Monitoring')}}</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-green w3-padding-16">
        <div class="w3-left"><i class="fa fa-thermometer-full w3-xxxlarge"></i></div>
		<div class="w3-right">
        <h4>{{=T('Temperature')}}</h4>
        </div>
        <div class="w3-clear"></div>
		<div id="tempgraph_div" style="width: auto; height: auto;"></div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-padding-16">
        <div class="w3-left"><i class="fa fa-dashboard w3-xxxlarge"></i></div>
        <div class="w3-right">
        <h4>{{=T('Humidity')}}</h4>
        </div>
        <div class="w3-clear"></div>
		<div id="humgraph_div" style="width: auto; height: auto;"></div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-tint w3-xxxlarge"></i></div>
        <div class="w3-right">
        <h4>{{=T('pH')}}</h4>
        </div>
        <div class="w3-clear"></div>
		<div id="phgraph_div" style="width: auto; height: auto;"></div>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-left"><i class="fa fa-tint w3-xxxlarge"></i></div>
          <div class="w3-right">
          <h4>{{=T('Level 1')}}</h4>
          </div>
          <div class="w3-clear"></div>
          <div class="w3-center">
          <h4><span id="big_level">{{="{:10.2f}".format(big_data[0].value)}}</span> cm</h4>
          </div>
        </div>
      </div>
      <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-left"><i class="fa fa-tint w3-xxxlarge"></i></div>
          <div class="w3-right">
          <h4>{{=T('Level 2')}}</h4>
          </div>
          <div class="w3-clear"></div>
          <div class="w3-center">
          <h4><span id="small_level">{{="{:10.2f}".format(small_data[0].value)}}</span> cm</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-container w3-dark-grey w3-padding-32">
	<div class="w3-row">
		<div class="w3-container w3-half">
			<h4 class="w3-bottombar w3-border-black">  {{=T('Controls')}}</h4>
			<p>{{=T('Manual')}}  <i class="ctrl fa fa-toggle-off" onclick="control(this)" id="automatic"></i>  {{=T('Automatic')}}</p>
		</div>
	</div>
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red"><i class="fa fa-thermometer-full"></i>  {{=T('Temperature')}} & {{=T('Humidity')}}</h5>
        <p><i class="ctrl fa fa-toggle-on" id="fans" onclick="control(this)"></i>  {{=T('Fans')}}</p>
        <p><i class="ctrl fa fa-toggle-off" id="heater" onclick="control(this)"></i>  {{=T('Heating')}}</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange"><i class="fa fa-lightbulb-o"></i>  {{=T('Luminosity')}}</h5>
        <p><i class="ctrl fa fa-toggle-on" id="lights" onclick="control(this)"></i>  {{=T('Lamp')}}</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-blue"><i class="fa fa-tint"></i>  {{=T('Water')}}</h5>
        <p><i class="ctrl fa fa-toggle-on" id="water_pump" onclick="control(this)"></i>  {{=T('Tank pump')}}</p>
        <!-- <p><i class="ctrl fa fa-toggle-off" id="ph_pump" onclick="control(this)"></i>  {{=T('pH pump')}}</p> -->
      </div>
    </div>
  </div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawTempChart);
  google.charts.setOnLoadCallback(drawHumChart);
  google.charts.setOnLoadCallback(drawPhChart);

  var temperature = {{=XML(temp_data)}};
  function drawTempChart() {
	var len = temperature.length;
	var data = new google.visualization.DataTable()
	data.addColumn('string','TIME');
	data.addColumn('number','TEMP');
	data.addRows(len);
	for (var i=0; i<len;i++) {
		data.setValue((len-1)-i,0,temperature[i].created_at.split(" ")[1].slice(0,5));
		data.setValue((len-1)-i,1,temperature[i].value);
	};

	var options = {
	  title: "{{=T('Temperature')}}",
	  curveType: 'function',
	  legend: 'none'
	};

	var chart = new google.visualization.LineChart(document.getElementById('tempgraph_div'));

	chart.draw(data, options);
  }

  var humidity = {{=XML(hum_data)}};
  function drawHumChart() {
	var len = humidity.length;
	var data = new google.visualization.DataTable()
	data.addColumn('string','TIME');
	data.addColumn('number','HUM');
	data.addRows(len);
	for (var i=0; i<len;i++) {
		data.setValue((len-1)-i,0,humidity[i].created_at.split(" ")[1].slice(0,5));
		data.setValue((len-1)-i,1,humidity[i].value);
	};

	var options = {
	  title: "{{=T('Humidity')}}",
	  curveType: 'function',
	  legend: 'none'
	};

	var chart = new google.visualization.LineChart(document.getElementById('humgraph_div'));

	chart.draw(data, options);
  }
  
  var pH = {{=XML(ph_data)}};
  function drawPhChart() {
	var len = pH.length;
	var data = new google.visualization.DataTable()
	data.addColumn('string','TIME');
	data.addColumn('number','HUM');
	data.addRows(len);
	for (var i=0; i<len;i++) {
		data.setValue((len-1)-i,0,pH[i].created_at.split(" ")[1].slice(0,5));
		data.setValue((len-1)-i,1,pH[i].value);
	};

	var options = {
	  title: "{{=T('pH')}}",
	  curveType: 'function',
	  legend: 'none'
	};

	var chart = new google.visualization.LineChart(document.getElementById('phgraph_div'));

	chart.draw(data, options);
  }
  function drawCharts(){
    if (document.readyState == "complete"){
      drawPhChart();
      drawHumChart();
      drawTempChart();
    }
  }
  onresize = function () { drawCharts();};
  update_controls();
  setTimeout(update_temperature,30000);
  setTimeout(update_humidity,30000);
  setTimeout(update_ph,30000);
  setTimeout(update_small_level,30000);
  setTimeout(update_big_level,30000);
</script>

