{{extend 'layout.html'}}

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-book"></i> {{=T('Recipes of grow')}}</b></h5>
  </header>
  <div class="w3-container">
    <ul class="w3-ul w3-card-4 w3-white w3-hoverable">
	<!-- For each recipe -->
	{{for recipe in recipes:}}
		<!-- Title -->
      <li class="w3-padding-16" onclick="w3_hide_show('{{=recipe.id}}')">
        <img src="{{=URL('static',recipe.image_path)}}" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">{{=recipe.name}}</span>
		{{if (recipe.id == active_recipe_id):}}<span class="w3-padding-left w3-text-green">{{=T('Active')}}</span>
		{{pass}}
        <span class="w3-padding w3-right w3-medium">
			<i class="fa fa-level-down"></i>
		</span>
		<br>
      </li>
		<!-- Recipe -->
	  <li class="w3-padding-16 w3-gray w3-hide" id="{{=recipe.id}}">
        <span onclick="w3_hide_show('{{=recipe.id}}')" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
        <span class="w3-xlarge"><i class="fa fa-pencil-square-o"></i>  {{=T('Edit')}}</span>
		<div class="w3-container">
			<h5>{{=recipe.name}}</h5>
			<table class="w3-table w3-striped w3-white w3-card-4">
			  <tr>
				<td><i class="fa fa-calendar w3-blue w3-padding-tiny"></i></td>
				<td>{{=T('Grow periode')}}</td>
				<td colspan="2" class="w3-center"><i>{{=recipe.grow_periode}} {{=T('days')}}</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-lightbulb-o w3-red w3-padding-tiny"></i></td>
				<td>{{=T('Light hours')}}</td>
				<td class="w3-center"><i>{{=T('Start time')}} : {{=recipe.light_start}}</i></td>
				<td class="w3-center"><i>{{=T('for')}} : {{=recipe.light_time}} {{=T('hours')}} </i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-thermometer-full w3-orange w3-text-white w3-padding-tiny"></i></td>
				<td>{{=T('Temperature')}}</td>
				<td colspan="2" class="w3-center"><i>{{=recipe.temperature_set_point}} °C</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-dashboard w3-light-blue w3-padding-tiny"></i></td>
				<td>{{=T('Humidity')}}</td>
				<td colspan="2" class="w3-center"><i>{{=recipe.humidity_set_point}} %</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-tint w3-teal w3-padding-tiny"></i></td>
				<td>{{=T('pH')}}</td>
				<td colspan="2" class="w3-center"><i>{{=recipe.ph_set_point}}</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-hourglass-half w3-red w3-padding-tiny"></i></td>
				<td>{{=T('Small tank water level')}}</td>
				<td colspan="2" class="w3-center"><i>{{=recipe.small_container_set_point}} cm</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-hourglass-end w3-green w3-padding-tiny"></i></td>
				<td>{{=T('Big tank water level')}}</td>
				<td colspan="2" class="w3-center"><i>{{=recipe.big_container_set_point}} cm</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-leaf w3-green w3-padding-tiny"></i></td>
				<td>{{=T('Fans')}}</td>
				<td class="w3-center"><i>{{=T('Start time')}} : {{=recipe.fans_start}}</i></td>
				<td class="w3-center"><i>{{=T('for')}} : {{=recipe.fans_time}} {{=T('hours')}} </i></td>
			  </tr>
			</table>
		</div>
      </li>
	  
	<!-- End For each -->
	  {{pass}}
	
		<!-- Add new recipe -->
	  <li class="w3-padding-16" onclick="w3_hide_show('add')">
        <i class="fa fa-plus-circle w3-xxlarge w3-margin-right"></i>
        <span class="w3-xlarge">{{=T('Add')}}</span>
        <span class="w3-padding w3-right w3-medium">
			<i class="fa fa-level-down"></i>
		</span>
		<br>
      </li>
	  
		<!-- New Recipe form -->
	  <li class="w3-padding-16 w3-gray w3-hide" id="add">
		<span onclick="w3_hide_show('add')" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
        <span class="w3-xlarge">{{=T('New recipe')}}</span><br>
		<div class="w3-container">
			<table class="w3-table w3-striped w3-white w3-card-4">
			  <tr>
				<td><i class="fa fa-pencil w3-black w3-padding-tiny"></i></td>
				<td>{{=T('Name')}}</td>
				<td colspan="2" class="w3-center"><i>Tomates</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-calendar w3-blue w3-padding-tiny"></i></td>
				<td>{{=T('Grow periode')}}</td>
				<td colspan="2" class="w3-center"><i>60 {{=T('days')}}</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-lightbulb-o w3-red w3-padding-tiny"></i></td>
				<td>{{=T('Light hours')}}</td>
				<td class="w3-center"><i>{{=T('ON')}} : 10 {{=T('hours')}} </i></td>
				<td class="w3-center"><i>{{=T('OFF')}} : 14 {{=T('hours')}} </i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-thermometer-full w3-orange w3-text-white w3-padding-tiny"></i></td>
				<td>{{=T('Temperature')}}</td>
				<td colspan="2" class="w3-center"><i>60 °C</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-dashboard w3-light-blue w3-padding-tiny"></i></td>
				<td>{{=T('Humidity')}}</td>
				<td colspan="2" class="w3-center"><i>60 %</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-tint w3-teal w3-padding-tiny"></i></td>
				<td>{{=T('pH')}}</td>
				<td colspan="2" class="w3-center"><i>6.2</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-hourglass-half w3-red w3-padding-tiny"></i></td>
				<td>{{=T('Small tank water level')}}</td>
				<td colspan="2" class="w3-center"><i>15 cm</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-hourglass-end w3-green w3-padding-tiny"></i></td>
				<td>{{=T('Big tank water level')}}</td>
				<td colspan="2" class="w3-center"><i>40 cm</i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-bath w3-orange w3-padding-tiny"></i></td>
				<td>{{=T('Tank pump')}}</td>
				<td class="w3-center"><i>{{=T('ON')}} : 1 {{=T('hours')}} </i></td>
				<td class="w3-center"><i>{{=T('OFF')}} : 2 {{=T('hours')}} </i></td>
			  </tr>
			  <tr>
				<td><i class="fa fa-leaf w3-green w3-padding-tiny"></i></td>
				<td>{{=T('Fans')}}</td>
				<td class="w3-center"><i>{{=T('ON')}} : 10 {{=T('hours')}} </i></td>
				<td class="w3-center"><i>{{=T('OFF')}} : 14 {{=T('hours')}} </i></td>
			  </tr>
			</table>
		</div>
      </li>
    </ul>
  </div>
  <hr>
  
